.add{
    background-color: rgb(126, 126, 252);
    height: 400px;
    width: 1600px;
    margin-left: 150px
}
h1{
    margin-left:600px ;
    font-size: 45px;
    color: white;
}
p{
    color: white;
    margin-left: 100px;
}
input{
    padding: 7px;
    margin-left: 100px;
}
button{
    background-color: orange;
    padding: 7px;
    width: 140px;
}